<table border="0" cellspacing="2" cellpadding="5" width="60%" align="center">
<tr><td>
<table border="0" cellpadding="5" align="center" width="100%" class="formLayout">
<tr>
    <th width="20%">Project</th>
    <td>{$Name}</td>
</tr>
<tr>
    <th width="20%">Url</th>
    <td><core:optional for="Url"><a href="{$Url}" target="_blank">{$Url}</a></core:optional><core:default for="Url"><i>None</i></core:default></td>
</tr>
<tr>
    <th width="20%">Description</th>
    <td>{$Description}</td>
</tr>
</table>
</td></tr>
</table>